.wraper{
    /*width: 600px;*/
    /*width: 100%;*/
    margin: 0 auto;
    border: solid;
}


.slider-container{
    overflow: hidden;
    overflow-x: scroll;
    /*background-color: pink;*/
}
.slider-track{
    /*overflow: hidden;*/
    /*background-color: yellow;*/
    display: flex;
    transition: .2s;

    /*min-width: 100%;*/
    min-height: 325px;
}
.slider-item{
    /*overflow: hidden;*/
    /*height: 300px;*/
    justify-content: center;
}

/*.slider-item:nth-child(3n+1){*/
/*    background-color: red;*/
/*}*/
/*.slider-item:nth-child(3n+2){*/
/*    background-color: green;*/
/*}*/
/*.slider-item:nth-child(3n+3){*/
/*    background-color: blue;*/
/*}*/

.slider-buttons{
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn-next,
.btn-prev{
    /*border: solid;*/
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F7F2E4;

}