* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 10px;
    color: #191919;
    font-family: 'Roboto', sans-serif;
}

/*Boders*/

.border_red {
    border: solid red;
}

.border_blue {
    border: solid blue;
}

.border_black {
    border: solid black;
}

.border_green {
    border: solid green;
}

/*BackGround Colors*/
.bg_19 {
    background-color: #191919;
}

.bg_2B2 {
    background-color: #2B2A35;
}

.bg_1D {
    background-color: #1D1D1D;
}

.bg_E5 {
    background-color: #E5E5E5;
}

.bg_persik {
    background-color: #F7F2E4;
}

.bg_FFF {
    background-color: #FFF;
}

.bg_bl {
    background-color: #7352FF;
}

.bg_salat {
    background-color: #6EE4B5;
}

.bg_F7F {
    background-color: #F7F2E4;
}

/*Font Colors*/
.color_19 {
    color: #191919;
}

.color_6EE {
    color: #6EE4B5;
}

.color_2B2 {
    color: #2B2A35;
}

.color_22 {
    color: #222222;
}

.color_00 {
    color: #000;
}

.color_fff {
    color: #fff;
}

.color_FF5 {
    color: #FF573D;
}

.color_blue {
    color: #7352FF;
}

.color_616 {
    color: #616A7F;
}

.color_F6C {
    color: #F6C627;
}

.font_weight_700 {
    font-weight: 700;
}

.font_size_14 {
    font-size: 1.4rem;
}

.font_size_16 {
    font-size: 1.6rem;
}

.font_size_12 {
    font-size: 1.2rem;
}

.font_size_11 {
    font-size: 1.1rem;
}

.font_size_40 {
    font-size: 4rem;
}

.font_size_20 {
    font-size: 2rem;
}

.font_size_24 {
    font-size: 2.4rem;
}

.line_height_20 {
    line-height: 2rem;
}

.line_height_24 {
    line-height: 2.4rem;
}

.line_height_14 {
    line-height: 1.4rem;
}

.line_height_12 {
    line-height: 1.2rem;
}

.line_height_17 {
    line-height: 1.7rem;
}

.line_height_23 {
    line-height: 2.3rem;
}

.line_height_52 {
    line-height: 5.2rem;
}

.line_height_48 {
    line-height: 4.8rem;
}

.line_height_28 {
    line-height: 2.8rem;
}

.line_height_36 {
    line-height: 3.6rem;
}

.line_height_68 {
    line-height: 6.8rem;
}

/*Sections_all*/
section {
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    /*border: solid red;*/
}

.container {
    width: 100%;
    /*border: solid blue;*/
}

.row {
    /*border: solid green*/
}

.col {
    /*border: solid black;*/
}

/*All_section_Title*/

.section_header {
    padding-bottom: 100px;
}

.section_title_all {
    font-size: 6.4rem;
    line-height: 6.8rem;
    max-width: 825px;
    text-align: center;
    margin: 0 auto;
}

.section_subtitle_all {
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 630px;
    text-align: center;
}

.flex_dir_column {
    flex-direction: column;
}

.boder_radius_15 {
    border-radius: 15px;
}

.boder_radius_10 {
    border-radius: 10px;
}

/*Header Begin*/
.logo_span a:hover {
    text-decoration: none;
}

.section_title_all.header {
    margin-top: 125px;
    height: auto;
}

.section_subtitle_all.header {
    margin-top: 31px;
}


.header_input {
    max-width: 500px;
    margin-top: 36px;
}

.header_email {
    padding: 21px 31px;
    max-width: 450px;
    /*border: solid #7352FF;*/
}

.header_button {
    padding: 21px 40px;
    /*border: solid #7352FF;*/
    margin-left: -50px;

}


/*Header End*/


/*Slider_Section_1 Begin*/

.section_one_slider {
    padding: 0;
}

.section_one_slider_card {
    max-width: 264px;
    position: relative;
    margin-top: 50px;
    /*margin-left: 25px;*/
}

.section_one_slider_card_text {
    padding: 8px 15px;
    position: absolute;
    top: -24px;
    left: -24px;
}

.section_one_slider_card_icon_1 {
    max-width: 52px;
    width: 100%;
    text-align: center;
}

.section_one_slider_card_icon {
    position: absolute;
    top: 50px;
    right: -22px;
    padding-right: 12px;
    padding-left: 12px;
}

/*Slider_Section_1 End*/

/*Section_one_Begin*/

.section_one_suzi {
    max-width: 1050px;
    /*border-radius: 25px;*/
    margin-right: 0;
}

.section_one_suzi_menu {
    padding: 17px 0;
}

.section_one_menu_item:not(:last-child) {
    margin-right: 35px;
}

.section_one_menu_item:hover {
    text-decoration: none;
}

/*Section_one_END*/

/*Section_two_Begin*/
.section_two {
    padding-left: 0;
    padding-right: 0;
}

.section_two_title {
    max-width: 525px;
    text-align: center;
    padding-top: 230px;
}

.section_two_slider {
    padding-top: 100px;
}

.section_two_slider_btn {
    max-width: 130px;
    margin-top: 90px;
}

.span_section_two {
    text-transform: uppercase;
    margin-top: 113px;
}

.section_two_footer {
    max-width: 470px;
    margin-bottom: 160px;
}

/*Section_two_END*/

/*section_three_Begin*/

.section_three {
    padding-left: 0;
    padding-right: 0;
}

.section_three_all {
    padding-top: 200px;
    padding-bottom: 250px;
}

.section_three_suptitle {
    /*margin-top: 200px;*/
}

.section_three_title {
    max-width: 900px;
    text-align: center;
}

/*section_three_Begin*/

/*section_four_Begin*/

.section_btn {
    padding: 10px 16px;
    display: flex;
    border-radius: 25px;
    margin-top: 100px;
    border: solid #fff;
}

.section_four_all a:hover {
    text-decoration: none;
    color: #7352FF;
}

.section_four_all a {
    color: #7352FF;
}


.section_four_strike_text {
    margin-top: 100px;
}

.strike_text_item {
    text-decoration: line-through;
    text-decoration-color: #F6C627;
}

.section_four_table {
    margin-top: 70px;
    max-width: 860px;
}

.td_line {
    /*border: solid #e0d0d0 1px;*/
}

.col_1_2 {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #616A7E;
    text-align: right;
    padding-right: 25px;
}

.col_2_2 {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: right;
    padding-right: 25px;
}

.section_four_footer {
    margin-top: 40px;
    margin-bottom: 110px;
    border: solid #BABEC3;
    padding: 65px;
    max-width: 850px;
}

.section_four_footer_left_2 {
    max-width: 300px;
    margin-bottom: 30px;
}

.section_four_footer_right {
    max-width: 250px;
}

.section_four_footer_right {
    /*column-count: 3;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

/*section_four_End*/


/*Slider Section_One BEGIN*/
.section_one_slider_plus {
    /*margin-top: 100px;*/
    padding-left: 0;
    padding-right: 0;
}

/* ******* */


/*Section_Five BEGIN*/

.section_title_all {
    /*min-width: 900px;*/
}

.a_section_five:hover {
    color: #2B2A35;
    text-decoration: none;
}

.section_five_cards_item {
    padding-top: 47px;

}

.section_five_cards {
    margin-top: 166px;
}

.section_five_cards_item_img {
    margin-top: 67px;
}

.section_five_cards_item_img.item_3 {
    margin-top: 237px;
}

.section_five_footer {
    margin-top: 120px;
}

.section_five_footer_left_text_1 {
    max-width: 300px;
}

.section_five_footer_left_text_2 {
    margin-top: 30px;
}

.section_five_footer_right_item a {
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #fff;
    margin-top: 10px;
}

.section_five_footer_right_item a:hover {
    text-decoration: none;
    color: #cec1c1;
}

.section_five_footer_right li {
    list-style: none;
}

/*Section_Five END*/


/*Section_Seven BEGIN*/
.p_section_seven {
    margin-top: 70px;
    margin-bottom: 600px;
}

.section_seven_img {
    width: 100%;
    position: relative;
}

.section_seven_img_pict {
    position: absolute;
    bottom: -100px;
    z-index: 1;
}

/*Section_Seven END*/

/*Section_Eight BEGIN*/

.section_eight_title {
    margin-top: 210px;
    max-width: 800px;
    text-align: center;
    font-weight: 700;
}

.section_eight_slider {
    margin: 200px auto 180px auto;
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    background-color: #F7F2E4;
}

.section_eight_slider_item {
    /*padding-top: 10px;*/
    padding-bottom: 20px;
    padding-left: 10px;
}

.section_eight_slider_item.item_2 {
    background-color: #F6C627;
}

.sect_eight_sl_left {
    position: relative;
}

.sect_eight_sl_top_left {
    position: absolute;
    top: 0;
    left: -30px;

}

.sect_eight_sl_top_left_reverse {
    writing-mode: vertical-lr;
}

.sect_eight_sl_left_all {
    position: relative;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 40px;
}

.sect_eight_sl_left_all_txt {
    position: absolute;
    left: 40px;
    bottom: 30px;
}


.sect_eight_sl_right_title {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.input_sect_eight_sl_right_title {
    padding: 10px 13px;
    border-radius: 15px;
    border: solid #6EE4B5;
    background-color: #F7F2E4;
    text-align: center;
    max-width: 155px;
}

.input_sect_eight_sl_right_title::placeholder {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #191919;
    font-weight: 700;
}

.sect_eight_sl_right_text {
    max-width: 380px;
    padding-left: 50px;
}


.sect_eight_sl_right_footer {
    margin-top: 95px;
    max-width: 400px;
    padding-left: 50px;
}

.sect_eight_sl_right_footer_item {
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: solid #fff;

    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #191919;
}

.slider-item_section_eight {
    background-color: #F7F2E4;
}

/*Section_Eight END*/


/*Section_Nine Begin*/

.section_nine {
    padding-left: 0;
    padding-right: 0;
}

.section_nine_left {
    word-wrap: anywhere;
    text-transform: uppercase;
    color: #fff;

}

.span_section_nine_left {
    padding-right: 90px;
    /*background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.05) 70.71%), rgba(255, 255, 255, 0.2);*/
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.05) 70.71%), rgba(255, 255, 255, 0.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background-clip: inherit;*/
    /*text-fill-color: transparent;*/
}

.section_nine_right {
    /*margin-left: 210px;*/
}

.p_section_nine {
    margin-top: 300px;
}

.span_section_nine {
    max-width: 480px;
}

.ul_section_nine {
    margin-top: 140px;
    padding-left: 30px;

}

.li_section_nine {
    list-style-image: url("../pictures/section_nine/list.png");
    font-size: 2rem;
    line-height: 2.8rem;
    color: #fff;
    padding-bottom: 10px;
}

/*Section_Nine END*/


/*Section_Ten Begin*/

.section_subtitle_all.sect_ten {
    padding-top: 160px;
}

.section_title_all.sect_ten {
    max-width: 850px;
}

.section_ten_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    /*text-align: center;*/
    margin-top: 25px;
    margin-bottom: 160px;
}

.section_ten_cards_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*max-width: 284px;*/
    /*max-height: 215px;*/
    width: 24%;
    border: solid #EDEDED;
    padding: 25px;
    /*margin-right: 10px;*/

    box-shadow: 0 4px 10px 2px #EDEDED;

}

.section_ten_cards_item_title {
    text-align: center;
}

.section_ten_cards_item_text {
    text-align: center;
    max-width: 230px;
}

/*Section_Ten END*/


/*section_eleven Begin*/
.section_eleven_header {
    margin-top: 180px;
    margin-left: 122px;
}

.section_eleven_title {
    font-size: 6.4rem;
    line-height: 6.8rem;
}

.section_eleven_subtitle {
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 588px;
}

.section_eleven_input {
    max-width: 624px;
    padding: 10px 108px;
    background-color: inherit;
    border: solid #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 160px;
    color: #fff;
}


.section_eleven_cards {
    margin-top: 180px;
}

.section_eleven_cards_item {
    position: relative;
}

.section_eleven_cards_item_img {
    text-align: center;
}

.section_eleven_cards_item_title {
    font-size: 6.4rem;
    line-height: 6.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section_eleven_cards_item_title_border {
    border: solid 2px #fff;
    max-width: 363px;
    max-height: 483px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_eleven_subCards {
    max-width: 203px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 285px;
}

/*section_eleven End*/

/*section_footer Begin*/

.section_footer_left_title {
    max-width: 230px;
    margin-top: 82px;
    margin-bottom: 15px;
}

.section_footer_left a,
.section_footer_left a:hover {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #fff;
    text-decoration: none;
}

.section_footer_left_btn {
    max-width: 360px;
    border: solid #fff;
    padding: 11px 21px;
}

.section_footer_left_btn_text_input {
    background-color: inherit;
    border: none;
    color: #fff;
}

.section_footer_left_btn_text_input::placeholder {
    color: #fff;
}

.section_footer_left_social_item {
    margin-top: 100px;
}

.section_footer_left_social_item_text {
    opacity: .5;
}

.section_footer_left_social {
    margin-bottom: 80px;
}

.section_footer_right_logo {
    text-align: right;
    margin-top: 80px;
}

.section_footer_right_menu_item {
    margin-top: 202px;
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #fff;
    opacity: .5;
    margin-right: 22px;
}

.section_footer_right_menu_item.active {
    color: #fff;
    opacity: 1;
    font-weight: 700;
}

.section_footer_right_menu a {
    text-decoration: none;
}

.section_footer_right_menu a:hover {
    color: #fff;
    opacity: .5;
    text-decoration: none;
}


/*section_footer End*/

/*Section_two_slider_new BEGIN*/

.section_two_slider {
    max-width: 90%;
    /*border: solid green;*/
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

.section_two_slider_item {
    /*border: solid red;*/
    padding: 25px;
}

.section_two_slider_item_img {
    max-width: 100%;
    /*border: solid blue;*/
    margin: 0 auto;
}

.slick-prev.slick-arrow {

}

.section_two_slider_btns_left {
    cursor: pointer;
}

.section_two_slider_btns_right {
    cursor: pointer;
}

.slick-center {
    transform: scale(1.3);
    transition: .5s;
}

/*Section_two_slider_new END*/